## about train,test

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
out_dir = '../output/'
data = "../datasets/"

In [3]:
train_df = pd.read_csv(data + "train.csv")
test_df = pd.read_csv(data + "test.csv")

In [4]:
def show_ave_med(df):
    print('num:' + str(len(df)))
    print('mean :' + str(round(df.mean(), 2)) + '\nmedian: ' + str(df.median()))

In [5]:
train_df.head()

,object_id,art_series_id,title,description,long_title,principal_maker,principal_or_first_maker,sub_title,copyright_holder,more_title,acquisition_method,acquisition_date,acquisition_credit_line,dating_presenting_date,dating_sorting_date,dating_period,dating_year_early,dating_year_late,likes
0,0011d6be41612ec9eae3,93c092ba70beab248f31,The Avenue of Birches,NaN,"The Avenue of Birches, Jan Hackaert, 1660 - 1685",Jan Hackaert,Jan Hackaert,h 66.5cm × w 53.7cm × t 2.5cm × d 4.7cm,NaN,The Avenue of Birches,purchase,1808-01-01T00:00:00,NaN,1660 - 1685,1660.0,17,1660.0,1685.0,48
1,0012765f7a97ccc3e9e9,95c14fb11c54281ad7e0,Struik in bloei,NaN,"Struik in bloei, Richard Tepe (attributed to),...",Richard Tepe,Richard Tepe,h 165mm × w 223mm,erven Richard Tepe,Struik in bloei,purchase,2000-01-01T00:00:00,NaN,c. 1900 - c. 1930,1900.0,19,1900.0,1930.0,2
2,0017be8caa87206532cb,4c406890d208fe01f8fb,Portret van een vrouw,"Portret van eenvrouw, zittend naast een tafel.","Portret van een vrouw, Tresling & Comp., 1860 ...",Tresling & Comp.,Tresling & Comp.,h 87mm × w 56mm,NaN,Portret van een vrouw,gift,2007-01-01T00:00:00,"Gift of M.M. Boom, Leiden",1860 - 1880,1860.0,19,1860.0,1880.0,5
3,00181d86ff1a7b95864e,fa0891535500a4973db2,A St Bernard Dog,"Een sint-bernardshond, staand in een landschap...","A St Bernard Dog, Bernard te Gempt, c. 1850 - ...",Bernard te Gempt,Bernard te Gempt,h 179cm × w 248cm × t 4cm,NaN,A St Bernard Dog,bequest,1881-01-01T00:00:00,"J. Hilman Bequest, Amsterdam",c. 1850 - c. 1879,1850.0,19,1850.0,1879.0,100
4,001c52ae28ec106d9cd5,8065ed5063c5887e677d,Woelige zee met zeilschepen,Woelige zee met zeilschepen.,"Woelige zee met zeilschepen, anonymous, 1825 -...",anonymous,anonymous,h 13cm × w 17.5cm × d 0.7cm,NaN,Woelige zee met zeilschepen,unknown,1971-01-01T00:00:00,NaN,1825 - 1874,1825.0,19,1825.0,1874.0,7

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12026 entries, 0 to 12025
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   object_id                 12026 non-null  object
 1   art_series_id             12026 non-null  object
 2   title                     12026 non-null  object
 3   description               8506 non-null   object
 4   long_title                12026 non-null  object
 5   principal_maker           12026 non-null  object
 6   principal_or_first_maker  12025 non-null  object
 7   sub_title                 11992 non-null  object
 8   copyright_holder          713 non-null    object
 9   more_title                11891 non-null  object
 10  acquisition_method        11830 non-null  object
 11  acquisition_date          11009 non-null  object
 12  acquisition_credit_line   3525 non-null   object
 13  dating_presenting_date    12016 non-null  object
 14  dating_sorting_date       12016 non-null  float64
 15  dating_period             12026 non-null  int64
 16  dating_year_early         12016 non-null  float64
 17  dating_year_late          11988 non-null  float64
 18  likes                     12026 non-null  int64
dtypes: float64(3), int64(2), object(14)
memory usage: 1.7+ MB

In [8]:
import re

In [9]:
train_df['more_title'][train_df['dating_presenting_date'].isnull()].index.values

array([  289,  2890,  3134,  3387,  3589,  3664,  4622,  8100, 11023,
       11764])

In [10]:
title_idx = train_df['more_title'][train_df['dating_presenting_date'].isnull()].index.values

In [11]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12008 entries, 0 to 12007
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   object_id                 12008 non-null  object
 1   art_series_id             12008 non-null  object
 2   title                     12008 non-null  object
 3   description               8323 non-null   object
 4   long_title                12008 non-null  object
 5   principal_maker           12008 non-null  object
 6   principal_or_first_maker  12008 non-null  object
 7   sub_title                 11978 non-null  object
 8   copyright_holder          721 non-null    object
 9   more_title                11844 non-null  object
 10  acquisition_method        11833 non-null  object
 11  acquisition_date          11010 non-null  object
 12  acquisition_credit_line   3538 non-null   object
 13  dating_presenting_date    12000 non-null  object
 14  dating_sorting_date       12000 non-null  float64
 15  dating_period             12008 non-null  int64
 16  dating_year_early         12000 non-null  float64
 17  dating_year_late          11977 non-null  float64
dtypes: float64(3), int64(1), object(14)
memory usage: 1.6+ MB

In [56]:
train_df[train_df['sub_title'].isnull()] = '0'

In [57]:
train_df['sub_title']

0        h 66.5cm × w 53.7cm × t 2.5cm × d 4.7cm
1                              h 165mm × w 223mm
2                                h 87mm × w 56mm
3                      h 179cm × w 248cm × t 4cm
4                    h 13cm × w 17.5cm × d 0.7cm
                          ...
12021                           h 90mm × w 140mm
12022                          h 245mm × w 278mm
12023                          h 217mm × w 306mm
12024                          h 560mm × w 405mm
12025               h 50.5cm × w 43.5cm × d 14cm
Name: sub_title, Length: 12026, dtype: object

In [74]:
train_df['dim'] = ''
# for i in range(len(train_df)):
train_df['sub_title'].str.count('(×)')

0        3
1        1
2        1
3        2
4        2
        ..
12021    1
12022    1
12023    1
12024    1
12025    2
Name: sub_title, Length: 12026, dtype: int64

In [70]:
a[0]

       match
0      0        ×
       1        ×
       2        ×
1      0        ×
2      0        ×
               ..
12022  0        ×
12023  0        ×
12024  0        ×
12025  0        ×
       1        ×
Name: 0, Length: 13474, dtype: object

In [14]:
train_df['likes'][train_df['dim'] == 1]

170       16
443       11
450      550
492        0
651        0
        ...
11626      0
11700      0
11795      0
11974     11
12016     49
Name: likes, Length: 69, dtype: object

In [15]:
show_ave_med(train_df['likes'][train_df['dim'] == 2])

num:10715
mean :53.67
median: 2.0

In [18]:
idx = (train_df['likes'][train_df.duplicated(subset='art_series_id',keep=False)].index.values)

In [25]:
train_df = train_df.astype({'likes':int})

In [26]:
type(train_df['likes'][0])

numpy.int64

In [29]:

for i in idx:
    if type(train_df['likes'][i] ) == str:
        print(i)
        print(train_df['likes'][i])
        print(type(train_df['likes'][i]))

In [36]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12026 entries, 0 to 12025
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   object_id                 12026 non-null  object
 1   art_series_id             12026 non-null  object
 2   title                     12026 non-null  object
 3   description               12026 non-null  object
 4   long_title                12026 non-null  object
 5   principal_maker           12026 non-null  object
 6   principal_or_first_maker  12025 non-null  object
 7   sub_title                 12026 non-null  object
 8   copyright_holder          746 non-null    object
 9   more_title                11892 non-null  object
 10  acquisition_method        11831 non-null  object
 11  acquisition_date          11010 non-null  object
 12  acquisition_credit_line   3558 non-null   object
 13  dating_presenting_date    12016 non-null  object
 14  dating_sorting_date       12016 non-null  object
 15  dating_period             12026 non-null  object
 16  dating_year_early         12016 non-null  object
 17  dating_year_late          11988 non-null  object
 18  likes                     12026 non-null  int64
 19  dim                       12026 non-null  object
dtypes: int64(1), object(19)
memory usage: 1.8+ MB

In [17]:
show_ave_med(train_df['likes'][train_df['description'].isnull()])

num:3489
mean :10.31
median: 0.0

In [48]:
~train_df['description'].isnull()

0        True
1        True
2        True
3        True
4        True
         ...
12021    True
12022    True
12023    True
12024    True
12025    True
Name: description, Length: 12026, dtype: bool

In [40]:
train_df['description'] = train_df['description'].str.len()

In [41]:
train_df['description']

0          0
1          0
2         46
3         71
4         28
        ...
12021      0
12022    231
12023    101
12024    495
12025    229
Name: description, Length: 12026, dtype: int64

In [46]:
bool('')

False