## about object size

In [73]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
out_dir = '../output/'
data = "../datasets/"

In [75]:
train_df = pd.read_csv(data + "train.csv")
test_df = pd.read_csv(data + "test.csv")

In [76]:
def show_ave_med(df, do_sort=False):
    if (do_sort):
        print('num:' + str(df.size()))
        print('mean :' + str(round(df.mean().sort_values('likes',ascending=False)['likes'], 2)) + '\nmedian: ' + str(df.median().sort_values('likes',ascending=False)['likes']))# + '\nmax: ' + str(df.max().sort_values('likes',ascending=False)['likes']) + '\nmin:' + str(df.min().sort_values('likes',ascending=False)['likes']))
    else:
        print('num:' + str(len(df)))
        print('mean :' + str(round(df.mean(), 2)) + '\nmedian: ' + str(df.median()) + '\nmax: ' + str(df.max()) + '\nmin:' + str(df.min()))

In [77]:
sub_title_df = train_df['sub_title']

In [78]:
sub_title_df

0        h 66.5cm × w 53.7cm × t 2.5cm × d 4.7cm
1                              h 165mm × w 223mm
2                                h 87mm × w 56mm
3                      h 179cm × w 248cm × t 4cm
4                    h 13cm × w 17.5cm × d 0.7cm
                          ...
12021                           h 90mm × w 140mm
12022                          h 245mm × w 278mm
12023                          h 217mm × w 306mm
12024                          h 560mm × w 405mm
12025               h 50.5cm × w 43.5cm × d 14cm
Name: sub_title, Length: 12026, dtype: object

In [79]:
split = sub_title_df.str.split(' × ',expand=True)

In [80]:
split.head()

          0         1        2        3     4
0  h 66.5cm  w 53.7cm  t 2.5cm  d 4.7cm  None
1   h 165mm   w 223mm     None     None  None
2    h 87mm    w 56mm     None     None  None
3   h 179cm   w 248cm    t 4cm     None  None
4    h 13cm  w 17.5cm  d 0.7cm     None  None

In [138]:
size_df = pd.DataFrame(columns = [0,1,2,3,4])
for i in range(len(split.columns)):
    print(len(split[i][~split[i].isnull()].str.split(' ',expand=True)[1]))

11992
11957
1242
272
3

In [82]:
size_df = size_df.fillna('1')

In [83]:
size_mm_df = size_df.replace('cm','mm10',regex=True)

In [137]:
split

              0         1        2        3     4
0      h 66.5cm  w 53.7cm  t 2.5cm  d 4.7cm  None
1       h 165mm   w 223mm     None     None  None
2        h 87mm    w 56mm     None     None  None
3       h 179cm   w 248cm    t 4cm     None  None
4        h 13cm  w 17.5cm  d 0.7cm     None  None
...         ...       ...      ...      ...   ...
12021    h 90mm   w 140mm     None     None  None
12022   h 245mm   w 278mm     None     None  None
12023   h 217mm   w 306mm     None     None  None
12024   h 560mm   w 405mm     None     None  None
12025  h 50.5cm  w 43.5cm   d 14cm     None  None

[12026 rows x 5 columns]

In [136]:
size_df

            0       1      2      3  4
0      66.5cm  53.7cm  2.5cm  4.7cm  1
1       165mm   223mm      1      1  1
2        87mm    56mm      1      1  1
3       179cm   248cm    4cm      1  1
4        13cm  17.5cm  0.7cm      1  1
...       ...     ...    ...    ... ..
12021    90mm   140mm      1      1  1
12022   245mm   278mm      1      1  1
12023   217mm   306mm      1      1  1
12024   560mm   405mm      1      1  1
12025  50.5cm  43.5cm   14cm      1  1

[11992 rows x 5 columns]

In [87]:
size_mm_df

              0         1        2        3  4
0      66.5mm10  53.7mm10  2.5mm10  4.7mm10  1
1         165mm     223mm        1        1  1
2          87mm      56mm        1        1  1
3       179mm10   248mm10    4mm10        1  1
4        13mm10  17.5mm10  0.7mm10        1  1
...         ...       ...      ...      ... ..
12021      90mm     140mm        1        1  1
12022     245mm     278mm        1        1  1
12023     217mm     306mm        1        1  1
12024     560mm     405mm        1        1  1
12025  50.5mm10  43.5mm10   14mm10        1  1

[11992 rows x 5 columns]

In [121]:
train_df['has_g'] = '0'
for i in range(len(size_mm_df.T)):
    if i == 0:
        hasg = size_mm_df[i].str.contains('g')
    else:
        hasg = pd.concat([hasg,size_mm_df[i].str.contains('g')],axis=1)

In [134]:
hasg[3].sum()

44

In [135]:
size_mm_df[hasg][3].isnull()

0        True
1        True
2        True
3        True
4        True
         ...
12021    True
12022    True
12023    True
12024    True
12025    True
Name: 3, Length: 11992, dtype: bool

In [85]:
size_df[3].str.contains('')

0        True
1        True
2        True
3        True
4        True
         ...
12021    True
12022    True
12023    True
12024    True
12025    True
Name: 3, Length: 11992, dtype: bool

2

In [32]:
a = ~size_df[3][~size_df[3].isnull()].str.contains('')

In [33]:
a

0        False
31        True
35       False
124      False
149      False
         ...
11834    False
11864    False
11922    False
11971    False
11991    False
Name: 3, Length: 272, dtype: bool

In [15]:
idx = size_df[3][~size_df[3].isnull()][a].index

In [36]:
train_df.iloc[idx,:]['object_id']

31       00b029290ec0125656a0
1171     1914748aa2389c385888
1257     1ad80c8ee081aec960af
1280     1b50653bdcb7b002ebd6
1487     1fc487faf236fc45b7f8
1641     2317c6359c2d852ad7b2
1786     2673295ee2ab4f2e04b0
1893     284a066387d08a30ff33
2183     2e67967cbbadd0dbca5a
2590     37b4d912f5227324c464
3554     4c850521b8b0d0602850
4069     5737b55bc8e9c7527f0e
4338     5d33c15d0a4c4abd74fb
4577     6282750e8f03c8061ce3
4844     67be41d0d8244b5c5482
5002     6b43741070e2751743ad
5333     727046ce3928a9d32da6
5357     72f12e0da4454b938890
5615     78152f07ee4ecd2deee6
5807     7baea4b206a81e69fbb0
6314     87438e32f660f604f6b8
6326     8781e575360b4b9b9cd0
6837     92b6b942c2a97f7f387b
6958     9567fe62a1c20b0f0117
6961     95842932e29b2d4f5ba4
7311     9d220438d746beedbb1d
7455     9f72331ad2e51e3897d9
7602     a28eede40a31957a0c2b
7733     a572a2c4ba1f5e11582f
7775     a689e44ea5963586a912
7783     a6ad4f7bd8f5eb47c527
7932     a999eb09561b93c987c5
7934     a9a5ad0c71bdfa1140a9
8785     bbf09ead78d74d14b077
8793     bc1a0948e6b441623447
8907     be6a1208032989b1b84d
9062     c1cfc8887d00f8408993
9587     cc8d698b78ac4cfb365a
9844     d1b8b0bb387d4ff94f7d
10036    d623be39236c6194bbcb
10436    de2a55bef32a1c5a36bc
10506    df79f33094371b81f764
10612    e1d20a98d8b0630ee015
10708    e3b46bef433a6409132f
Name: object_id, dtype: object

In [17]:
train_df[~split[4].isnull()]

,object_id,art_series_id,title,description,long_title,principal_maker,principal_or_first_maker,sub_title,copyright_holder,more_title,acquisition_method,acquisition_date,acquisition_credit_line,dating_presenting_date,dating_sorting_date,dating_period,dating_year_early,dating_year_late,likes
124,026d8f287c8168cd3c1c,fb0a29c0a863acb4de9f,Boslandschap met reizigers,In een bosrijk zomers landschap zijn twee staa...,"Boslandschap met reizigers, Jacob Cremer, 1849",Jacob Cremer,Jacob Cremer,h 68cm × w 101.2cm × t 3.1cm × d 8.9cm × w 14cm,NaN,Boslandschap met reizigers,purchase,1992-10-28T00:00:00,Purchased with a contribution from the J.G. Kr...,1849,1849.0,19,1849.0,1849.0,264
1294,1b734201b1132192253c,789da07da0a29366ad7d,The Four Chief Commissioners of the Amsterdam ...,Groepsportret van de vier oppercommissarissen ...,The Four Chief Commissioners of the Amsterdam ...,Wybrand Hendriks,Wybrand Hendriks,h 198.5cm × w 213.1cm × t 3.9cm × d 9cm × w 39kg,NaN,The Four Chief Commissioners of the Amsterdam ...,loan,1885-10-02T00:00:00,On loan from the City of Amsterdam,1791 - 1795,1791.0,18,1791.0,1795.0,25
1535,20c646c114dfee338ba1,441e701aa132e836dc9e,Cornelis Nuyts (1574-1661). Amsterdam merchant,"Portret van Cornelis Nuyts (1574-1661), koopma...",Cornelis Nuyts (1574-1661). Amsterdam merchant...,Jürgen Ovens,Jürgen Ovens,h 161cm × w 128.9cm × t 5.2cm × d 8.1cm × w 32kg,NaN,Cornelis Nuyts (1574-1661). Amsterdam merchant,purchase,1896-01-01T00:00:00,NaN,1658,1658.0,17,1658.0,1658.0,23

In [19]:
sub_title_df.str.split('×')

0        [h 66.5cm ,  w 53.7cm ,  t 2.5cm ,  d 4.7cm]
1                                [h 165mm ,  w 223mm]
2                                  [h 87mm ,  w 56mm]
3                       [h 179cm ,  w 248cm ,  t 4cm]
4                     [h 13cm ,  w 17.5cm ,  d 0.7cm]
                             ...
12021                             [h 90mm ,  w 140mm]
12022                            [h 245mm ,  w 278mm]
12023                            [h 217mm ,  w 306mm]
12024                            [h 560mm ,  w 405mm]
12025                [h 50.5cm ,  w 43.5cm ,  d 14cm]
Name: sub_title, Length: 12026, dtype: object

In [20]:
show_ave_med(train_df['likes'][train_df['principal_maker'] == 'Rembrandt van Rijn'])

num:23
mean :3196.83
median: 1364.0
max: 27392
min:0

In [21]:
train_df['likes'][train_df['principal_maker'] == 'Rembrandt van Rijn']

827        278
966        387
1660        42
1764         4
1976         0
1982       130
2397      2358
2650      8052
2815         4
2911         6
3314       906
4153      2515
4776      1364
5465         8
6256      7732
7698      2275
8049      6068
9092      4937
9610     27392
9865      2363
10334     3007
11263     2503
11496     1196
Name: likes, dtype: int64

In [22]:
show_ave_med(train_df['likes'][train_df['acquisition_method'] == 'loan'])

num:404
mean :483.12
median: 23.0
max: 27392
min:0

In [23]:
train_df.sort_values('likes',ascending=False).head(30)

,object_id,art_series_id,title,description,long_title,principal_maker,principal_or_first_maker,sub_title,copyright_holder,more_title,acquisition_method,acquisition_date,acquisition_credit_line,dating_presenting_date,dating_sorting_date,dating_period,dating_year_early,dating_year_late,likes
9610,cce5692fcc2d683c83e6,b3fe6620a23a80a4766d,"Night Watch, Militia Company of District II un...",Officieren en andere schutters van wijk II in ...,"Night Watch, Militia Company of District II un...",Rembrandt van Rijn,Rembrandt van Rijn,h 379.5cm × w 453.5cm × w 337kg,NaN,Officers and other civic guardsmen of District...,loan,1808-01-01T00:00:00,On loan from the City of Amsterdam,1642,1642.0,17,1642.0,1642.0,27392
1447,1eae1bab484d72d0000a,4835e3cb2e57975817d7,Still Life with Flowers in a Glass Vase,Stilleven met bloemen in een glazen vaas op ee...,"Still Life with Flowers in a Glass Vase, Jan D...",Jan Davidsz. de Heem,Jan Davidsz. de Heem,h 54.5cm × w 36.5cm × d 7.8cm,NaN,Still Life with Flowers in a Glass Vase,loan,1885-06-30T00:00:00,On loan from the City of Amsterdam (A. van der...,1650 - 1683,1650.0,17,1650.0,1683.0,21685
2962,3fc75b941bb6c1529f05,37176565918cd6413a82,Children of the Sea,Voorstelling getiteld 'Kinderen der zee'. Vier...,"Children of the Sea, Jozef Israëls, 1872",Jozef Israëls,Jozef Israëls,h 48.5cm × w 93.5cm,NaN,Children of the Sea,bequest,1907-01-01T00:00:00,"J.B.A.M. Westerwoudt Bequest, Haarlem",1872,1872.0,19,1872.0,1872.0,19698
3970,54f28a153631c8f1776e,b86e2209561a42cf9044,Girl in a White Kimono,"Een meisje gekleed in een kimono, achterover l...","Girl in a White Kimono, George Hendrik Breitne...",George Hendrik Breitner,George Hendrik Breitner,h 59cm × w 57cm × d 11cm,NaN,Girl in a White Kimono Girl in Kimono (Geesje ...,bequest,1944-01-01T00:00:00,"Mr and Mrs Drucker-Fraser Bequest, Montreux",1894,1894.0,19,1894.0,1894.0,14867
6185,843e1cb329e39186c625,063a112835f930db2fae,Italian Landscape with Umbrella Pines,Italiaans landschap met parasoldennen of pijnb...,"Italian Landscape with Umbrella Pines, Hendrik...",Hendrik Voogd,Hendrik Voogd,h 101.5cm × w 138.5cm,NaN,Italian Landscape with Umbrella Pines,purchase,1976-01-01T00:00:00,NaN,1807,1807.0,19,1807.0,1807.0,14172
2391,33702bbca0b25d76cd1a,48d7ae9b008de63610e9,Morning Ride along the Beach,Morgenrit langs het strand. Twee mannen en een...,"Morning Ride along the Beach, Anton Mauve, 1876",Anton Mauve,Anton Mauve,h 43.7cm × w 68.6cm,NaN,NaN,bequest,1944-01-01T00:00:00,"Mr and Mrs Drucker-Fraser Bequest, Montreux",1876,1876.0,19,1876.0,1876.0,12432
10553,e07c988ad061af8683a1,db1c9c2f590545afd787,The Threatened Swan,De bedreigde zwaan. Een zwaan verdedigt haar n...,"The Threatened Swan, Jan Asselijn, c. 1650",Jan Asselijn,Jan Asselijn,h 144cm × w 171cm,NaN,The Threatened Swan; Interpreted later as an A...,purchase,1800-06-11T00:00:00,NaN,c. 1650,1650.0,17,1650.0,1650.0,11544
2075,2c17238839ac3648a25b,9ff6ff7baf194f00125a,Floral Still Life,Stilleven met bloemen. Tulpen en andere bloeme...,"Floral Still Life, Hans Bollongier, 1639",Hans Bollongier,Hans Bollongier,h 67.6cm × w 53.3cm,NaN,Still life with Flowers,purchase,1883-11-01T00:00:00,NaN,1639,1639.0,17,1639.0,1639.0,10555
4593,62cb5b004077522e32cd,f90ee5f2c7053ba97dd3,Self-portrait,Zelfportret van Vincent van Gogh. Borstbeeld m...,"Self-portrait, Vincent van Gogh, 1887",Vincent van Gogh,Vincent van Gogh,h 42cm × w 34cm × d 8cm,NaN,Self Portrait,gift,1936-06-01T00:00:00,"Gift of F.W.M., Baroness Bonger-van der Borch ...",1887,1887.0,19,1887.0,1887.0,10303
10772,e4f39e3d63eb4fc69f92,3289067032ba5d7e1fee,Woman Reading a Letter,"Brieflezende vrouw. Een jonge vrouw, staande b...","Woman Reading a Letter, Johannes Vermeer, c. 1663",Johannes Vermeer,Johannes Vermeer,h 46.5cm × w 39cm × d 6.5cm,NaN,Woman in Blue Reading a Letter Woman Reading a...,loan,1885-06-30T00:00:00,On loan from the City of Amsterdam (A. van der...,c. 1663,1663.0,17,1663.0,1663.0,10170
9851,d1e3ed8985d3b9849ed3,65077c291abd78a79114,Still Life with Flowers and a Watch,Stilleven met bloemen en een horloge. Op een s...,"Still Life with Flowers and a Watch, Abraham M...",Abraham Mignon,Abraham Mignon,h 75cm × w 60cm × d 8cm,NaN,Still Life with Flowers and a Watch,bequest,1870-01-01T00:00:00,"Dupper Wzn. Bequest, Dordrecht",c. 1660 - c. 1679,1660.0,17,1660.0,1679.0,9242
11121,ec8ed45c19b9bd1ab453,76c115bcc8e86f935124,Donkey Rides on the Beach,Ezeltje rijden langs het strand. Drie meisjes ...,"Donkey Rides on the Beach, Isaac Israels, c. 1...",Isaac Israels,Isaac Israels,h 51cm × w 70cm,NaN,Donkey Riding on the Beach,bequest,1944-01-01T00:00:00,"Mr and Mrs Drucker-Fraser Bequest, Montreux",c. 1890 - c. 1901,1890.0,19,1890.0,1901.0,9035
8164,ae646cd0195e58582c62,2784bd080d463bd37bf3,Fire and Light (A Girl Places a Candle in a La...,Een meisje plaatst een kaars in een lantaarn e...,Fire and Light (A Girl Places a Candle in a La...,Godfried Schalcken,Godfried Schalcken,h 46cm × w 38cm × d 5.2cm,NaN,Fire and Light (A Girl Places a Candle in a La...,purchase,1809-01-01T00:00:00,NaN,1690 - 1706,1690.0,17,1690.0,1706.0,8404
8612,b86cfa394cd3e884eb81,228d2d42e75d1c0b80d7,The Merry Family,Het vrolijke huisgezin of 'Soo de ouden songen...,"The Merry Family, Jan Havicksz. Steen, 1668",Jan Havicksz. Steen,Jan Havicksz. Steen,h 110.5cm × w 141cm,NaN,The merry family,loan,1885-06-30T00:00:00,On loan from the City of Amsterdam (A. van der...,1668,1668.0,17,1668.0,1668.0,8275
2650,39064c3703cdbbd030d9,57b8823f000735c04434,"Isaac and Rebecca, Known as ‘The Jewish Bride’",Portret van een paar als Isaac en Rebecca of a...,"Isaac and Rebecca, Known as ‘The Jewish Bride’...",Rembrandt van Rijn,Rembrandt van Rijn,h 121.5cm × w 166.5cm,NaN,"Portrait of a Couple as Isaac and Rebecca, kno...",loan,1885-06-30T00:00:00,On loan from the City of Amsterdam (A. van der...,c. 1665 - c. 1669,1665.0,17,1665.0,1669.0,8052
6256,861b03fce4a8325a0310,d71fc8957509291eac2d,"Portrait of a Woman, Possibly Maria Trip","Portret van Maria Trip (1619-83), zuster van J...","Portrait of a Woman, Possibly Maria Trip, Remb...",Rembrandt van Rijn,Rembrandt van Rijn,h 107cm × w 82cm,NaN,"Portrait of a woman, possibly Maria Trip Portr...",loan,1897-05-01T00:00:00,On loan from the Familie Van Weede Stichting,1639,1639.0,17,1639.0,1639.0,7732
4188,59b8f4e468941950f8bf,12de17e69a3aefeb8db8,Insects and Fruit,Insecten en vruchten. Een takje witte aalbesse...,"Insects and Fruit, Jan van Kessel (I), c. 1653...",Jan van Kessel (I),Jan van Kessel (I),h 10.9cm × w 14.6cm,NaN,Sprig of White Currant with Insects,purchase,1882-01-01T00:00:00,NaN,c. 1653 - c. 1661,1653.0,17,1653.0,1661.0,7222
7274,9c5f7ef9cf6b110ab663,cf4b396840f759ab7890,"Portrait of a Couple, Probably Isaac Abrahamsz...",Huwelijksportret van Isaac Abrahamsz Massa en ...,"Portrait of a Couple, Probably Isaac Abrahamsz...",Frans Hals,Frans Hals,h 140cm × w 166.5cm,NaN,"Portrait of a Couple in a Landscape, probably ...",purchase,1851-11-25T00:00:00,NaN,c. 1622,1622.0,17,1622.0,1622.0,6897
1438,1e71aa4942e9b1dc32b9,8f53aad37beee68cac86,Portrait of a Girl Dressed in Blue,"Portret van een meisje in het blauw. Staande, ...","Portrait of a Girl Dressed in Blue, Johannes C...",Johannes Cornelisz. Verspronck,Johannes Cornelisz. Verspronck,h 82cm × w 66.5cm,NaN,NaN,gift,1928-11-01T00:00:00,Purchased with the support of the Vereniging R...,1641,1641.0,17,1641.0,1641.0,6786
11619,f740b8f10575401b0e28,b1d0a1933f4c4b2bc88e,Wooded View near Barbizon,Bosgezicht in de omgeving van Barbizon. Op een...,"Wooded View near Barbizon, Johan Hendrik Weiss...",Johan Hendrik Weissenbruch,Johan Hendrik Weissenbruch,h 48.5cm × w 64cm,NaN,NaN,purchase,1900-10-01T00:00:00,NaN,1900,1900.0,19,1900.0,1900.0,6673
8541,b6c868ca861c143297f7,0e314d4db2f1a888ff58,Eenden,Twee eenden en enkele kuikens in het gras nabi...,"Eenden, Willem Maris, c. 1880 - c. 1904",Willem Maris,Willem Maris,h 93cm × w 113cm × d 14.5cm,NaN,Eenden,gift,1910-01-01T00:00:00,"Gift of Mr and Mrs Drucker-Fraser, Montreux",c. 1880 - c. 1904,1880.0,19,1880.0,1904.0,6509
4646,63ca026cb8c22a9c6d17,47e2001f6a9d6e91a249,The Windmill at Wijk bij Duurstede,De molen bij Wijk bij Duurstede. Links de rivi...,"The Windmill at Wijk bij Duurstede, Jacob Isaa...",Jacob Isaacksz van Ruisdael,Jacob Isaacksz van Ruisdael,h 83cm × w 101cm,NaN,The windmill at Wijk bij Duurstede,loan,1885-06-30T00:00:00,On loan from the City of Amsterdam (A. van der...,c. 1668 - c. 1670,1668.0,17,1668.0,1670.0,6081
8049,abfb485410c3d96d39bd,a20b26bb7c26912a30b5,The Sampling Officials of the Amsterdam Draper...,De Staalmeesters: het college van staalmeester...,The Sampling Officials of the Amsterdam Draper...,Rembrandt van Rijn,Rembrandt van Rijn,h 191.5cm × w 279cm,NaN,The Sampling Officials of the Amsterdam Draper...,loan,1808-01-01T00:00:00,On loan from the City of Amsterdam,1662,1662.0,17,1662.0,1662.0,6068
101,01ec0b412b15ad585c6e,02abc3945b57454b2ddc,Mountainous Landscape with Waterfall,Berglandschap met een waterval tussen rotsen e...,"Mountainous Landscape with Waterfall, Jacob Is...",Jacob Isaacksz van Ruisdael,Jacob Isaacksz van Ruisdael,h 111cm × w 99cm,NaN,Mountainous Landscape with Waterfall,purchase,1818-01-01T00:00:00,NaN,1650 - 1682,1650.0,17,1650.0,1682.0,5754
4689,64c8a2b8493962b95a09,b72956c3f62723b644ec,Jacob Wrestling with the Angel,Jacob worstelt met de engel. Langs de weg ligg...,"Jacob Wrestling with the Angel, Bartholomeus B...",Bartholomeus Breenbergh,Bartholomeus Breenbergh,h 50cm × w 68cm,NaN,Jacob Wrestling with the Angel,purchase,1898-01-01T00:00:00,NaN,1639,1639.0,17,1639.0,1639.0,5696
4850,67cd61fcd9e316e7f004,f261e86ee447010a8590,The Artist Painting a Cow in a Meadow,Zelfportret van Hendrikus van de Sande Bakhuyz...,"The Artist Painting a Cow in a Meadow, Hendrik...",Hendrikus van de Sande Bakhuyzen,Hendrikus van de Sande Bakhuyzen,h 73.2cm × w 96.7cm × d 6.5cm,NaN,The Artist Painting a Cow in a Meadow,purchase,1969-01-01T00:00:00,NaN,1850,1850.0,19,1850.0,1850.0,5663
2462,34d89fa8761aebc71a6b,13e077fb343a04eed78b,Mountain Landscape in Tirol with Chamois,Berglandschap in Tirol met een herder met geit...,"Mountain Landscape in Tirol with Chamois, Joha...",Johannes Tavenraat,Johannes Tavenraat,h 26.0cm × w 23.0cm × t 1.0cm × d 5.7cm,NaN,Mountain Landscape in Tirol with Chamois,purchase,1997-01-01T00:00:00,NaN,c. 1858,1858.0,19,1858.0,1858.0,5629
10579,e11a0636ff9ae04893a5,d5ff4880025fd77eb7ff,Flight into Egypt,De vlucht naar Egypte. De heilige familie word...,"Flight into Egypt, Giovanni Battista Tiepolo (...",Giovanni Battista Tiepolo,Giovanni Battista Tiepolo,h 68cm × w 101cm × d 6cm,NaN,Flight into Egypt,bequest,1941-01-01T00:00:00,"J.W.E. vom Rath Bequest, Amsterdam",1750 - 1810,1750.0,18,1750.0,1810.0,5602
5907,7dd6b55031e722e487bc,20aca517a92a8ab575e2,Abraham with the three Angels,"Abraham knielt voor de drie engelen, links Sar...","Abraham with the three Angels, Francesco Zugno...",Francesco Zugno,Francesco Zugno,h 50.5cm × w 120cm × d 7.5cm,NaN,Abraham with the three Angels,bequest,1941-01-01T00:00:00,"J.W.E. vom Rath Bequest, Amsterdam",1750 - 1780,1750.0,18,1750.0,1780.0,5572
1112,17a83c876506efc68f3e,1848011ea463c47368d9,Tobias and the angel,"Landschap met Tobias en de engel, de engel wij...","Tobias and the angel, Eglon van der Neer, 1690",Eglon van der Neer,Eglon van der Neer,h 16.5cm × w 24cm × d 4cm,NaN,Tobias and the angel,purchase,1809-01-01T00:00:00,NaN,1690,1690.0,17,1690.0,1690.0,5503

In [24]:
show_ave_med(train_df.groupby('principal_maker'),do_sort=True)

num:principal_maker
A. Böeseken                  5
A. Cucumus & Cie.            1
A. Davanne & M. Aleo         1
A. Doyen                     1
A. Fortier                   1
                            ..
weduwe Jacobus van Egmont    1
Édouard Denis Baldus         8
Émile Bernard                1
Émile Fürst                  1
Étienne Neurdein             9
Length: 2221, dtype: int64
mean :principal_maker
Jan Davidsz. de Heem              21685.0
Hans Bollongier                   10555.0
Vincent van Gogh                  10303.0
Johannes Vermeer                  10170.0
Jan van Kessel (I)                 7222.0
                                   ...
Josef Borsos                          0.0
Giacomo Laurenziani                   0.0
Gideon Quineau                        0.0
Pieter Bartholomeusz. Barbiers        0.0
Lamazouère                            0.0
Name: likes, Length: 2221, dtype: float64
median: principal_maker
Jan Davidsz. de Heem    21685.0
Hans Bollongier         10555.0
Vincent van Gogh        10303.0
Johannes Vermeer        10170.0
Jan van Kessel (I)       7222.0
                         ...
Jan Breebaard               0.0
Jan Chalon                  0.0
Jan Frederik Rienks         0.0
Jan George Mulder           0.0
Jacob van der Schley        0.0
Name: likes, Length: 2221, dtype: float64